@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Urbanist:wght@400;500;700&display=swap');
body {
    background-color: black;
    color:white;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    text-decoration: none;
    list-style: none;
    font-family: 'Urbanist', sans-serif;
}
.pf-container {
    background-color: #1E1E1E;
    height: 320px;
    margin: 16px;
    border-radius: 20px;

}
.pfp {
    display: block;
    width:80px;
    height:80px;
    background-color: aliceblue;
    border-radius: 20px;
    margin-left: auto;
    margin-right:auto;
    background-image: url(https://images.unsplash.com/photo-1665247586282-3ab471d50428?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80);
    background-repeat: no-repeat;
    background-size: cover;
 
    
}
.profile {
   padding-top: 30px;
}
.pftag {
    text-align: center;
    margin-top:20px;
}
a {
    color: white;
}
.pfname {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}
.insights {
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-size: 17px;
    margin-top: 20px;
}
.followers {
    margin-right: 30px;
}
.num {
    margin-right: 10px;
}
.button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    cursor: pointer;
    
}
.follow_button {
    background-color: #000000;
    padding: 10px;
    width: 134px;
    height: 31;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    
}
.follow_button_text {
    font-weight: bold;
}
.post{
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    margin-top: 50px;
}
.post1 {
    background-color: rgb(255, 0, 13);
    width: 396px;
    height: 499px;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1665247586732-4303b24d1606?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
.post2 {
    background-color: rgb(4, 0, 255);
    width: 396px;
    height: 499px;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1665246694841-b06f7a0bdd98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
.post3 {
    background-color: rgb(255, 0, 13);
    width: 396px;
    height: 499px;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1665247586299-ef7d4dbec847?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
.post4 {
    background-color: rgb(4, 0, 255);
    width: 396px;
    height: 499px;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1665247586304-07de25c6579d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
.post5 {
    background-color: rgb(255, 0, 13);
    width: 396px;
    height: 499px;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1665246828789-28ae24857818?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
.post6 {
    background-color: rgb(4, 0, 255);
    width: 396px;
    height: 499px;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1665247586282-3ab471d50428?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
.post7 {
    background-color: rgb(255, 0, 13);
    width: 396px;
    height: 499px;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1665247586304-243843187e70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
.post8 {
    background-color: rgb(4, 0, 255);
    width: 396px;
    height: 499px;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1665247586786-a836ee6a4aec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
.post9 {
    background-color: rgb(255, 0, 13);
    width: 396px;
    height: 499px;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1665246757985-4c2278fe3b2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
.post10 {
    background-color: rgb(4, 0, 255);
    width: 396px;
    height: 499px;
    border-radius: 20px;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}
.post11 {
    background-color: rgb(255, 0, 13);
    width: 396px;
    height: 499px;
    border-radius: 20px;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}
.Album {
    text-align: center;
    margin-top:20px;
    background-color: #1E1E1E;
    padding-top: 20px;
    padding-bottom: 20px;
}